# Getting Started with Polars
[polars](https://www.youtube.com/watch?v=CJ0f45evuME&t=11s)

In [1]:
import numpy as np
import polars as pl

In [2]:
pl.__version__

'0.20.3'

In [10]:
print(dir(pl))

['Array', 'ArrowError', 'Binary', 'Boolean', 'Categorical', 'CategoricalRemappingWarning', 'ChronoFormatWarning', 'ColumnNotFoundError', 'ComputeError', 'Config', 'DATETIME_DTYPES', 'DURATION_DTYPES', 'DataFrame', 'DataType', 'Date', 'Datetime', 'Decimal', 'DuplicateError', 'Duration', 'Enum', 'Expr', 'FLOAT_DTYPES', 'Field', 'Float32', 'Float64', 'INTEGER_DTYPES', 'InProcessQuery', 'Int16', 'Int32', 'Int64', 'Int8', 'InvalidOperationError', 'LazyFrame', 'List', 'NESTED_DTYPES', 'NUMERIC_DTYPES', 'NoDataError', 'Null', 'Object', 'OutOfBoundsError', 'PolarsDataType', 'PolarsPanicError', 'SQLContext', 'SchemaError', 'SchemaFieldNotFoundError', 'Series', 'ShapeError', 'String', 'StringCache', 'Struct', 'StructFieldNotFoundError', 'TEMPORAL_DTYPES', 'Time', 'UInt16', 'UInt32', 'UInt64', 'UInt8', 'Unknown', 'Utf8', '__all__', '__annotations__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__register_startup_deps', '__spec__', '__version__', '_cpu_check', '_reexport', 'align_frames', 'all', 'all_horizontal', 'any', 'any_horizontal', 'api', 'apply', 'approx_n_unique', 'arange', 'arctan2', 'arctan2d', 'arg_sort_by', 'arg_where', 'build_info', 'coalesce', 'col', 'collect_all', 'collect_all_async', 'concat', 'concat_list', 'concat_str', 'config', 'contextlib', 'convert', 'corr', 'count', 'cov', 'cum_fold', 'cum_reduce', 'cum_sum', 'cum_sum_horizontal', 'cumfold', 'cumreduce', 'cumsum', 'cumsum_horizontal', 'dataframe', 'datatypes', 'date', 'date_range', 'date_ranges', 'datetime', 'datetime_range', 'datetime_ranges', 'dependencies', 'disable_string_cache', 'duration', 'element', 'enable_string_cache', 'exceptions', 'exclude', 'expr', 'first', 'fold', 'format', 'from_arrow', 'from_dataframe', 'from_dict', 'from_dicts', 'from_epoch', 'from_numpy', 'from_pandas', 'from_records', 'from_repr', 'functions', 'get_index_type', 'groups', 'head', 'implode', 'int_range', 'int_ranges', 'io', 'last', 'lazyframe', 'lit', 'map', 'map_batches', 'map_groups', 'max', 'max_horizontal', 'mean', 'median', 'min', 'min_horizontal', 'n_unique', 'ones', 'os', 'polars', 'quantile', 'read_avro', 'read_csv', 'read_csv_batched', 'read_database', 'read_database_uri', 'read_delta', 'read_excel', 'read_ipc', 'read_ipc_schema', 'read_ipc_stream', 'read_json', 'read_ndjson', 'read_ods', 'read_parquet', 'read_parquet_schema', 'reduce', 'repeat', 'rolling_corr', 'rolling_cov', 'scan_csv', 'scan_delta', 'scan_iceberg', 'scan_ipc', 'scan_ndjson', 'scan_parquet', 'scan_pyarrow_dataset', 'select', 'selectors', 'series', 'set_random_seed', 'show_versions', 'slice', 'sql', 'sql_expr', 'std', 'string_cache', 'struct', 'sum', 'sum_horizontal', 'tail', 'threadpool_size', 'time', 'time_range', 'time_ranges', 'type_aliases', 'using_string_cache', 'utils', 'var', 'when', 'wrap_df', 'wrap_s', 'zeros']

## Loading data

In [3]:
ls

mypl.ipynb       pl2023_2024.csv  polars-1.ipynb

In [4]:
ls -l

total 136
-rw-r--r--@ 1 birusod  staff  59063 Jan  3 22:19 mypl.ipynb
-rw-r--r--@ 1 birusod  staff    773 Jan  1 23:23 pl2023_2024.csv
-rw-r--r--@ 1 birusod  staff    582 Jan  3 23:06 polars-1.ipynb

pl.Categorical, pl.Float32, pl.Utf8,  pl.Int64, pl.Date, pl.String

In [22]:
url = 'https://raw.githubusercontent.com/cengel/R-data-wrangling/master/data/MS_trafficstops_bw_age.csv'
df = pl.read_csv(
    url,
    dtypes=[pl.String, pl.Date, pl.String, pl.String, pl.String, pl.String, pl.Date, pl.String, pl.String, pl.Int64, pl.String],
    infer_schema_length=10000,
    ignore_errors = True,
    null_values = list('NA'))

In [23]:
df.head(4)

shape: (4, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ id        ┆ stop_date ┆ county_na ┆ county_fi ┆ … ┆ driver_ra ┆ officer_i ┆ driver_ag ┆ violatio │
│ ---       ┆ ---       ┆ me        ┆ ps        ┆   ┆ ce        ┆ d         ┆ e         ┆ n        │
│ str       ┆ date      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ i64       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ MS-2013-0 ┆ 2013-01-0 ┆ Jones     ┆ 28067     ┆ … ┆ Black     ┆ J042      ┆ 63        ┆ Seat     │
│ 0001      ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆           ┆ belt     │
│ MS-2013-0 ┆ 2013-01-0 ┆ Lauderdal ┆ 28075     ┆ … ┆ Black     ┆ B026      ┆ 46        ┆ Careless │
│ 0002      ┆ 1         ┆ e         ┆           ┆   ┆           ┆           ┆           ┆ driving  │
│ MS-2013-0 ┆ 2013-01-0 ┆ Pike      ┆ 28113     ┆ … ┆ Black     ┆ M009      ┆ 39        ┆ Speeding │
│ 0003      ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ MS-2013-0 ┆ 2013-01-0 ┆ Hancock   ┆ 28045     ┆ … ┆ White     ┆ K035      ┆ 32        ┆ Speeding │
│ 0004      ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [24]:
df.shape

(211211, 11)

In [25]:
df.columns

['id',
 'stop_date',
 'county_name',
 'county_fips',
 'police_department',
 'driver_gender',
 'driver_birthdate',
 'driver_race',
 'officer_id',
 'driver_age',
 'violation']

## EDA

In [26]:
df.sample(5).transpose()

shape: (11, 5)
┌───────────────┬───────────────┬───────────────┬───────────────┬──────────────────────────┐
│ column_0      ┆ column_1      ┆ column_2      ┆ column_3      ┆ column_4                 │
│ ---           ┆ ---           ┆ ---           ┆ ---           ┆ ---                      │
│ str           ┆ str           ┆ str           ┆ str           ┆ str                      │
╞═══════════════╪═══════════════╪═══════════════╪═══════════════╪══════════════════════════╡
│ MS-2015-41113 ┆ MS-2015-32025 ┆ MS-2015-08128 ┆ MS-2014-17788 ┆ MS-2015-14894            │
│ 2015-09-05    ┆ 2015-07-29    ┆ 2015-03-07    ┆ 2014-04-09    ┆ 2015-04-22               │
│ Hinds         ┆ Bolivar       ┆ Humphreys     ┆ Perry         ┆ Jasper                   │
│ 28049         ┆ 28011         ┆ 28053         ┆ 28111         ┆ 28061                    │
│ …             ┆ …             ┆ …             ┆ …             ┆ …                        │
│ Black         ┆ Black         ┆ Black         ┆ White         ┆ Black                    │
│ C056          ┆ D025          ┆ B033          ┆ J042          ┆ H018                     │
│ 31            ┆ 43            ┆ 34            ┆ 20            ┆ 22                       │
│ Seat belt     ┆ Speeding      ┆ Speeding      ┆ Speeding      ┆ License-Permit-Insurance │
└───────────────┴───────────────┴───────────────┴───────────────┴──────────────────────────┘

In [27]:
df.dtypes

[String,
 Date,
 String,
 String,
 String,
 String,
 Date,
 String,
 String,
 Int64,
 String]

In [28]:
df.describe()

shape: (9, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ id        ┆ stop_date ┆ county_na ┆ … ┆ driver_ra ┆ officer_i ┆ driver_ag ┆ violatio │
│ ---       ┆ ---       ┆ ---       ┆ me        ┆   ┆ ce        ┆ d         ┆ e         ┆ n        │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆ str       ┆ str       ┆ f64       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 211211    ┆ 211211    ┆ 211211    ┆ … ┆ 211211    ┆ 211211    ┆ 211102.0  ┆ 211211   │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 109.0     ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 35.295516 ┆ null     │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 13.580219 ┆ null     │
│ min       ┆ MS-2013-0 ┆ 2013-01-0 ┆ Adams     ┆ … ┆ Black     ┆ A003      ┆ 7.0       ┆ Breaks-L │
│           ┆ 0001      ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ ights-et │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ c        │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 24.0      ┆ null     │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 32.0      ┆ null     │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 44.0      ┆ null     │
│ max       ┆ MS-2016-2 ┆ 2016-07-1 ┆ Yazoo     ┆ … ┆ White     ┆ W300      ┆ 86.0      ┆ Speeding │
│           ┆ 4297      ┆ 4         ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### Selecting columns

In [35]:
df.select(pl.col(pl.Int64)).describe()

shape: (9, 2)
┌────────────┬────────────┐
│ describe   ┆ driver_age │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ count      ┆ 211102.0   │
│ null_count ┆ 109.0      │
│ mean       ┆ 35.295516  │
│ std        ┆ 13.580219  │
│ min        ┆ 7.0        │
│ 25%        ┆ 24.0       │
│ 50%        ┆ 32.0       │
│ 75%        ┆ 44.0       │
│ max        ┆ 86.0       │
└────────────┴────────────┘

In [40]:
df.select('id', pl.col(pl.Date), 'driver_race', 'driver_age').head(3)

shape: (3, 5)
┌───────────────┬────────────┬──────────────────┬─────────────┬────────────┐
│ id            ┆ stop_date  ┆ driver_birthdate ┆ driver_race ┆ driver_age │
│ ---           ┆ ---        ┆ ---              ┆ ---         ┆ ---        │
│ str           ┆ date       ┆ date             ┆ str         ┆ i64        │
╞═══════════════╪════════════╪══════════════════╪═════════════╪════════════╡
│ MS-2013-00001 ┆ 2013-01-01 ┆ 1950-06-14       ┆ Black       ┆ 63         │
│ MS-2013-00002 ┆ 2013-01-01 ┆ 1967-04-06       ┆ Black       ┆ 46         │
│ MS-2013-00003 ┆ 2013-01-01 ┆ 1974-04-15       ┆ Black       ┆ 39         │
└───────────────┴────────────┴──────────────────┴─────────────┴────────────┘

In [43]:
df.select(pl.selectors.date()).head(3)

shape: (3, 2)
┌────────────┬──────────────────┐
│ stop_date  ┆ driver_birthdate │
│ ---        ┆ ---              │
│ date       ┆ date             │
╞════════════╪══════════════════╡
│ 2013-01-01 ┆ 1950-06-14       │
│ 2013-01-01 ┆ 1967-04-06       │
│ 2013-01-01 ┆ 1974-04-15       │
└────────────┴──────────────────┘

In [58]:
df.select(pl.selectors.matches('date'), (pl.selectors.contains('age') | pl.selectors.contains('race'))).head(3)

shape: (3, 4)
┌────────────┬──────────────────┬────────────┬─────────────┐
│ stop_date  ┆ driver_birthdate ┆ driver_age ┆ driver_race │
│ ---        ┆ ---              ┆ ---        ┆ ---         │
│ date       ┆ date             ┆ i64        ┆ str         │
╞════════════╪══════════════════╪════════════╪═════════════╡
│ 2013-01-01 ┆ 1950-06-14       ┆ 63         ┆ Black       │
│ 2013-01-01 ┆ 1967-04-06       ┆ 46         ┆ Black       │
│ 2013-01-01 ┆ 1974-04-15       ┆ 39         ┆ Black       │
└────────────┴──────────────────┴────────────┴─────────────┘

In [60]:
df.select(pl.selectors.starts_with('driver')).head(3)

shape: (3, 4)
┌───────────────┬──────────────────┬─────────────┬────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age │
│ ---           ┆ ---              ┆ ---         ┆ ---        │
│ str           ┆ date             ┆ str         ┆ i64        │
╞═══════════════╪══════════════════╪═════════════╪════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63         │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46         │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39         │
└───────────────┴──────────────────┴─────────────┴────────────┘

### Converting Dtypes

In [66]:
drivers_df = df.select(pl.selectors.starts_with('driver'), 'county_fips')
drivers_df.head(2)

shape: (2, 5)
┌───────────────┬──────────────────┬─────────────┬────────────┬─────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age ┆ county_fips │
│ ---           ┆ ---              ┆ ---         ┆ ---        ┆ ---         │
│ str           ┆ date             ┆ str         ┆ i64        ┆ str         │
╞═══════════════╪══════════════════╪═════════════╪════════════╪═════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63         ┆ 28067       │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46         ┆ 28075       │
└───────────────┴──────────────────┴─────────────┴────────────┴─────────────┘

In [64]:
drivers_df.select(pl.col('driver_age').cast(pl.Float64)).head(3)

shape: (3, 1)
┌────────────┐
│ driver_age │
│ ---        │
│ f64        │
╞════════════╡
│ 63.0       │
│ 46.0       │
│ 39.0       │
└────────────┘

In [71]:
(drivers_df
    .with_columns(pl.col('county_fips')
    .cast(pl.Int64)
    )
.head(3)
)

shape: (3, 5)
┌───────────────┬──────────────────┬─────────────┬────────────┬─────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age ┆ county_fips │
│ ---           ┆ ---              ┆ ---         ┆ ---        ┆ ---         │
│ str           ┆ date             ┆ str         ┆ i64        ┆ i64         │
╞═══════════════╪══════════════════╪═════════════╪════════════╪═════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63         ┆ 28067       │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46         ┆ 28075       │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39         ┆ 28113       │
└───────────────┴──────────────────┴─────────────┴────────────┴─────────────┘

In [73]:
(drivers_df
    .with_columns(pl.col(['county_fips', 'driver_age'])
    .cast(pl.Float64)
    )
.head(3)
)

shape: (3, 5)
┌───────────────┬──────────────────┬─────────────┬────────────┬─────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age ┆ county_fips │
│ ---           ┆ ---              ┆ ---         ┆ ---        ┆ ---         │
│ str           ┆ date             ┆ str         ┆ f64        ┆ f64         │
╞═══════════════╪══════════════════╪═════════════╪════════════╪═════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63.0       ┆ 28067.0     │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46.0       ┆ 28075.0     │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39.0       ┆ 28113.0     │
└───────────────┴──────────────────┴─────────────┴────────────┴─────────────┘

In [74]:
(drivers_df
    .with_columns([
        pl.col('county_fips').cast(pl.Int64),
        pl.col('driver_age').cast(pl.Float64)
    ])
.head(3)
)

shape: (3, 5)
┌───────────────┬──────────────────┬─────────────┬────────────┬─────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age ┆ county_fips │
│ ---           ┆ ---              ┆ ---         ┆ ---        ┆ ---         │
│ str           ┆ date             ┆ str         ┆ f64        ┆ i64         │
╞═══════════════╪══════════════════╪═════════════╪════════════╪═════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63.0       ┆ 28067       │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46.0       ┆ 28075       │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39.0       ┆ 28113       │
└───────────────┴──────────────────┴─────────────┴────────────┴─────────────┘

### Dropping columns

In [77]:
(drivers_df
    .with_columns(pl.col('driver_age').cast(pl.Float64))
    .drop('county_fips')
.head(3)
)

shape: (3, 4)
┌───────────────┬──────────────────┬─────────────┬────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ driver_age │
│ ---           ┆ ---              ┆ ---         ┆ ---        │
│ str           ┆ date             ┆ str         ┆ f64        │
╞═══════════════╪══════════════════╪═════════════╪════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63.0       │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46.0       │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39.0       │
└───────────────┴──────────────────┴─────────────┴────────────┘

In [78]:
(drivers_df
    .with_columns(pl.col('driver_age').cast(pl.Float64))
    .drop(['county_fips', 'driver_race'])
.head(3)
)

shape: (3, 3)
┌───────────────┬──────────────────┬────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_age │
│ ---           ┆ ---              ┆ ---        │
│ str           ┆ date             ┆ f64        │
╞═══════════════╪══════════════════╪════════════╡
│ male          ┆ 1950-06-14       ┆ 63.0       │
│ male          ┆ 1967-04-06       ┆ 46.0       │
│ male          ┆ 1974-04-15       ┆ 39.0       │
└───────────────┴──────────────────┴────────────┘

### Renaming columns

In [85]:
drivers_df.rename({"driver_age": "age"}).head(3)

shape: (3, 5)
┌───────────────┬──────────────────┬─────────────┬─────┬─────────────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ age ┆ county_fips │
│ ---           ┆ ---              ┆ ---         ┆ --- ┆ ---         │
│ str           ┆ date             ┆ str         ┆ i64 ┆ str         │
╞═══════════════╪══════════════════╪═════════════╪═════╪═════════════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63  ┆ 28067       │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46  ┆ 28075       │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39  ┆ 28113       │
└───────────────┴──────────────────┴─────────────┴─────┴─────────────┘

In [86]:
(
    drivers_df
        .rename({
            "driver_age": "age", 
            "county_fips": "fips"})
        .head(3)
)

shape: (3, 5)
┌───────────────┬──────────────────┬─────────────┬─────┬───────┐
│ driver_gender ┆ driver_birthdate ┆ driver_race ┆ age ┆ fips  │
│ ---           ┆ ---              ┆ ---         ┆ --- ┆ ---   │
│ str           ┆ date             ┆ str         ┆ i64 ┆ str   │
╞═══════════════╪══════════════════╪═════════════╪═════╪═══════╡
│ male          ┆ 1950-06-14       ┆ Black       ┆ 63  ┆ 28067 │
│ male          ┆ 1967-04-06       ┆ Black       ┆ 46  ┆ 28075 │
│ male          ┆ 1974-04-15       ┆ Black       ┆ 39  ┆ 28113 │
└───────────────┴──────────────────┴─────────────┴─────┴───────┘

In [84]:
(
    drivers_df
        .select(
            pl.all().name.map(lambda name: name.upper().replace('DRIVER_', ''))
        )
        .head(3)
)

shape: (3, 5)
┌────────┬────────────┬───────┬─────┬─────────────┐
│ GENDER ┆ BIRTHDATE  ┆ RACE  ┆ AGE ┆ COUNTY_FIPS │
│ ---    ┆ ---        ┆ ---   ┆ --- ┆ ---         │
│ str    ┆ date       ┆ str   ┆ i64 ┆ str         │
╞════════╪════════════╪═══════╪═════╪═════════════╡
│ male   ┆ 1950-06-14 ┆ Black ┆ 63  ┆ 28067       │
│ male   ┆ 1967-04-06 ┆ Black ┆ 46  ┆ 28075       │
│ male   ┆ 1974-04-15 ┆ Black ┆ 39  ┆ 28113       │
└────────┴────────────┴───────┴─────┴─────────────┘

In [82]:
(
    drivers_df
        .with_columns(pl.col('driver_age').cast(pl.Float64))
        .pipe(
            lambda d: d.rename({ col: col.replace('driver_', '').upper() for col in d.columns })
            )
)

shape: (211_211, 5)
┌────────┬────────────┬───────┬──────┬─────────────┐
│ GENDER ┆ BIRTHDATE  ┆ RACE  ┆ AGE  ┆ COUNTY_FIPS │
│ ---    ┆ ---        ┆ ---   ┆ ---  ┆ ---         │
│ str    ┆ date       ┆ str   ┆ f64  ┆ str         │
╞════════╪════════════╪═══════╪══════╪═════════════╡
│ male   ┆ 1950-06-14 ┆ Black ┆ 63.0 ┆ 28067       │
│ male   ┆ 1967-04-06 ┆ Black ┆ 46.0 ┆ 28075       │
│ male   ┆ 1974-04-15 ┆ Black ┆ 39.0 ┆ 28113       │
│ male   ┆ 1981-03-23 ┆ White ┆ 32.0 ┆ 28045       │
│ …      ┆ …          ┆ …     ┆ …    ┆ …           │
│ male   ┆ 1975-12-23 ┆ Black ┆ 41.0 ┆ 28029       │
│ male   ┆ 1998-02-02 ┆ White ┆ 18.0 ┆ 28043       │
│ female ┆ 1970-06-14 ┆ White ┆ 46.0 ┆ 28029       │
│ male   ┆ 1948-03-11 ┆ White ┆ 68.0 ┆ 28029       │
└────────┴────────────┴───────┴──────┴─────────────┘